.app {

  &__jumbotron {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    cursor: pointer;
  }

  &__loader-container {
    display: flex;
    justify-content: center;
    height: 16px;
    margin-bottom: 10px;
  }

  &__start-button {
    display: flex;
    justify-content: center;
  }
  &__card-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  &__button {
    width: 20%;
  }

  &__card {
    float: left;

    width: 150px;
  }

  &__card-item {
    flex: 1 0 20%;
    margin: 5px;
    
    &.-disable-pointer {
      cursor: crosshair;
    }
  }

  &__card-disabled {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    cursor: default;
  }
  &__message {
    display: flex;
    justify-content: center;
  }
}
